{% include 'header.html' %} 
{% load static %}

<body style ="background-image : url({% static 'images/loginf.jpg' %})">
<div class="card shadow m-5" style = "opacity : 0.8">
    <div class = "card-body">
        <h5>Employee Login</h5>
        <br>
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" placeholder="Enter your email" name="emailid" required>
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" placeholder="Enter your password" name="password" required>
            </div>
        
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
    </div>
</div>
</body>

{% if err == "no" %}
<script>
    alert('Login successfull!');
    window.location = ('{% url 'emp_home' %}');
</script>
{% endif %}
{% if err == "yes" %}
<script>
    alert('Invalid Login Credentials, Try again!');
</script>
{% endif %}